<div id="reserveForm"  class="panel panel-default">
  <div class="panel-body text-center">
    <span id="header2">Reserve a table with Crepe House now!</span>

    <form class="form-inline" [formGroup]="reserveForm" (submit)="onSubmit()"><br>
      <div class="form-group">
        <label class="sr-only">Name</label>
        <input type="text" class="form-control" name="name" id="name" placeholder="Name" formControlName="name" required>

        <app-select></app-select>
        <input type="date" name="date" id="date"  class="form-control" [min]="today" formControlName="date" required>
        <input type="time" name="time" id="time" class="form-control" min="09:00:00" max="17:00:00" step="1800" formControlName="time" required>

        <button type="submit" class="btn btn-primary">Reserve</button>
      </div>
    </form>
    <br>

    <a (click)="showDialog = !showDialog" style="float: right; margin-right: 15%">Have a confirmation code already?</a>

    <app-modal [(visible)]="showDialog">
      <h4 style="  font-family: 'Merriweather', serif;">Please enter confirmation code: </h4><br>
      <input id="confirmCode" type="text" pattern="" class="form-control"><br>
      <button class="btn btn-primary">Submit</button>
      <button (click)="showDialog = !showDialog" class="btn">Close</button>
    </app-modal>

  </div>
</div>
