.panel-body{
  padding: 30px;
}
#header2{
  font-family: 'Merriweather', serif;
  font-size: 30px;
}
h1{
  font-size: 42px;
}
body, h1, p, input, a{
  font-family: 'Merriweather', serif;
}
.reserveForm{
  margin: auto;
}
.reserveForm a{
  text-align: right;
}
#confirmCode{
  width: 70%; margin: auto
}
.back {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #f4f5f6 0%, #f5f6f7 7%, #f9f9f9 11%, #ffffff 50%, #f9f9f9 86%, #f7f7f7 90%, #f7f7f7 100%, #fbfbfb 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%,#f4f5f6 0%,#f5f6f7 7%,#f9f9f9 11%,#ffffff 50%,#f9f9f9 86%,#f7f7f7 90%,#f7f7f7 100%,#fbfbfb 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%,#f4f5f6 0%,#f5f6f7 7%,#f9f9f9 11%,#ffffff 50%,#f9f9f9 86%,#f7f7f7 90%,#f7f7f7 100%,#fbfbfb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fbfbfb',GradientType=0 ); /* IE6-9 */
  border: 1px solid rgba(22, 42, 85, 0.3);
  box-shadow: 2px 2px 60px 10px rgba(219,219,219,0.53);
}
