<h1 class="page-header" style="  font-family: 'Merriweather', serif;">Profile</h1>
<div class="col-md-4"></div>
<div class="container" class="col-md-4" style="background-color: rgba(17,43,69,0.18); padding-top:20px">

  <div class="panel panel-info">
    <div class="panel-heading" >
      <h3 class="panel-title" style="  font-family: 'Merriweather', serif;">My Personal Information</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div align="center">
          <img src="../../../assets/img/logo.png" height="40%" width="40%" style="border-radius: 140px"/></div>
        <div>
          <br>
          <div *ngIf="!owner">Loading</div>
          <table *ngIf="owner" class="table table-user-information">
            <tbody>
            <tr>
              <td>Username:</td>
              <td>{{username}}</td>
            </tr>
            <tr>
              <td>First Name:</td>
              <td>{{firstName}}</td>
            </tr>
            <tr>
              <td>Last Name:</td>
              <td>{{lastName}}</td>
            </tr>
            <hr>
            <tr>
              <td>Email:</td>
              <td>{{email}}</td>
            </tr>
            <tr>
              <td>Telephone:</td>
              <td>{{telephone}}</td>
            </tr>
            </tbody>
            <a [routerLink]="['/edit-profile/', owner._id]" class="btn btn-primary text-center" style="float: right; margin-right: 10%" >Edit</a>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-4"></div>


