<h1 class="page-header">Dashboard</h1>
<!--<app-ver-nav></app-ver-nav>-->

<div class="container panel panel-default outer">

  <div class="container panel panel-default text-center inner">
    <div routerLink="/booking-list" class="buttons">
      <span><img src="../../../assets/img/dashboard1.png" height="128" width="128"/></span><br>
      <a class="btn btn-success">Bookings</a>
    </div>
  </div>

  <div class="container panel panel-default text-center inner">
    <div routerLink="/table-list" class="buttons">
      <span><img src="../../../assets/img/dashboard2.png" height="128" width="128"/></span><br>
      <a class="btn btn-success">Tables</a>
    </div>
  </div>

  <div class="container panel panel-default text-center inner">
    <div routerLink="/customer-list" class="buttons">
      <span><img src="../../../assets/img/dashbord4.png" height="128" width="128"/></span><br>
      <a class="btn btn-success">Customers</a>
    </div>
  </div>

  <div class="container panel panel-default text-center inner">
    <div routerLink="/profile" class="buttons">
      <span><img src="../../../assets/img/dashboard3.png" height="128" width="128"/></span><br>
      <a class="btn btn-success">Profile</a>
    </div>
  </div>

</div>
