<!--<h1 class="page-header">Franchise Login</h1>-->
<!--<div id="container" class="col-md-4">-->
  <!--<div class="row show-hide-message">-->
    <!--<div [ngClass]="messageClass">-->
      <!--{{message}}-->
    <!--</div>-->
  <!--</div>-->
  <!--<form name="loginForm" [formGroup]="loginForm" (submit)="onLoginSubmit()">-->


    <!--<div class="form-group">-->
      <!--<label for="email">Email</label>-->
      <!--<div [ngClass]="{'has-error':loginForm.controls.email.errors && loginForm.controls.email.dirty,-->
        <!--'has-success':loginForm.controls.email.valid && loginForm.controls.email.dirty}">-->
        <!--<input type="text" id="email" name="email" class="form-control" placeholder="Email" formControlName="email"/>-->
        <!--<ul class="help-block">-->
          <!--<li *ngIf="loginForm.controls.email.errors?.required && loginForm.controls.email.dirty">This field is required</li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->


    <!--<div class="form-group">-->
      <!--<label for="password">Password</label>-->
      <!--<div [ngClass]="{'has-error':(loginForm.controls.password.errors && loginForm.controls.password.dirty),-->
        <!--'has-success':loginForm.controls.password.valid && loginForm.controls.password.dirty}">-->
        <!--<input type="password" id="password" name="password" class="form-control" placeholder="Password" formControlName="password"/>-->
        <!--<ul class="help-block">-->
          <!--<li *ngIf="loginForm.controls.password.errors?.required && loginForm.controls.password.dirty">This field is required</li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group buttons">-->
      <!--<input [disabled]="!loginForm.valid || processing " type="submit" class="btn btn-success" value="Login">-->
    <!--</div>-->
  <!--</form>-->
<!--</div>-->

<!--<div class="col-md-8"></div>-->


<!--&lt;!&ndash;<p>firstName: {{registerForm.controls.firstName.value}}</p>&ndash;&gt;-->
<!--&lt;!&ndash;<p>lastName: {{registerForm.controls.lastName.value}}</p>&ndash;&gt;-->
<!--&lt;!&ndash;<p>username: {{registerForm.controls.username.value}}</p>&ndash;&gt;-->
<!--&lt;!&ndash;<p>password: {{registerForm.controls.password.value}}</p>&ndash;&gt;-->
<!--&lt;!&ndash;<p>email: {{registerForm.controls.email.value}}</p>&ndash;&gt;-->
<!--&lt;!&ndash;<p>telephone: {{registerForm.controls.telephone.value}}</p>&ndash;&gt;-->



