<h1 class="page-header" style="  font-family: 'Merriweather', serif;">Update Profile</h1>
<div class="col-md-2"></div>
<div class="container" class="col-md-8" style="background-color: rgba(17,43,69,0.18); padding-top:20px">
  <div class="row show-hide-message">
    <div [ngClass]="messageClass">
      {{message}}
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" >
      <h3 class="panel-title" style="  font-family: 'Merriweather', serif;">Update My Information</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div align="center">
          <img src="../../../assets/img/logo.png" height="20%" width="20%" style="border-radius: 140px"/></div>
        <div>
          <br>
          <div *ngIf="!owner">Loading</div>

          <form class="form-group" *ngIf="owner" [formGroup]="profileForm" (submit)="onUpdateSubmit()">
            <table class="table table-user-information" >
              <div class="table table-user-information">
                <tbody>
                <tr>
                  <td>Username:</td>
                  <td>
                    <div class="form-group">
                      <div [ngClass]="{'has-error':(profileForm.controls.username.errors && profileForm.controls.username.dirty),
'has-success':!(profileForm.controls.username.errors)}" class="input-group">
                        <input type="text" class="form-control" name="username" id="username"  placeholder="Username" value="{{username}}" formControlName="username" />
                        <ul class="help-block">
                          <li *ngIf="profileForm.controls.username.errors?.required && profileForm.controls.username.dirty">This field is required</li>
                          <li *ngIf="(profileForm.controls.username.errors?.minlength || profileForm.controls.username.errors?.maxlength) && profileForm.controls.username.dirty">Minimum characters: 5, Maximum characters: 12</li>
                        </ul>
                      </div>
                    </div>
                  </td>
                </tr>


                <tr>
                  <td>First Name:</td>
                  <td><div class="form-group">
                    <div [ngClass]="{'has-error':(profileForm.controls.firstName.errors && profileForm.controls.firstName.dirty),
'has-success':!(profileForm.controls.firstName.errors)}" class="input-group">
                      <input type="text" class="form-control" name="firstName"  placeholder="First Name" value="{{firstName}}" formControlName="firstName" />
                      <ul class="help-block">
                        <li *ngIf="profileForm.controls.firstName.errors?.required && profileForm.controls.firstName.dirty">This field is required</li>
                        <li *ngIf="(profileForm.controls.firstName.errors?.minlength || profileForm.controls.firstName.errors?.maxlength) && profileForm.controls.firstName.dirty">Minimum characters: 3, Maximum characters: 30</li>
                        <li *ngIf="profileForm.controls.firstName.errors?.validateFirstName && profileForm.controls.firstName.dirty ">Must provide a valid First Name</li>
                      </ul>
                    </div>
                  </div>
                  </td>
                </tr>


                <tr>
                  <td>Last Name:</td>
                  <td>
                    <div>
                      <div class="form-group">
                        <div [ngClass]="{'has-error':(profileForm.controls.lastName.errors && profileForm.controls.lastName.dirty),
'has-success':!(profileForm.controls.lastName.errors)}" class="input-group">
                          <input type="text" class="form-control" name="lastName" id="lastName"  placeholder="Last Name" value="{{lastName}}" formControlName="lastName" />
                          <ul class="help-block">
                            <li *ngIf="profileForm.controls.lastName.errors?.required && profileForm.controls.lastName.dirty">This field is required</li>
                            <li *ngIf="(profileForm.controls.lastName.errors?.minlength || profileForm.controls.lastName.errors?.maxlength) && profileForm.controls.lastName.dirty">Minimum characters: 3, Maximum characters: 30</li>
                            <li *ngIf="profileForm.controls.lastName.errors?.validateLastName && profileForm.controls.lastName.dirty ">Must provide a valid Last Name</li>
                          </ul>

                        </div>
                      </div>
                    </div>
                  </td>

                </tr>


                <tr>
                  <td>Telephone:</td>
                  <td>
                    <div class="form-group">
                      <div class="input-group" [ngClass]="{'has-error':(profileForm.controls.telephone.errors && profileForm.controls.telephone.dirty),
'has-success':!(profileForm.controls.telephone.errors) }">
                        <input type="text" class="form-control" name="telephone" id="telephone"  placeholder="Telephone" value="{{telephone}}" formControlName="telephone" />
                        <ul class="help-block">
                          <li *ngIf="profileForm.controls.telephone.errors?.required && profileForm.controls.telephone.dirty">This field is required</li>
                          <li *ngIf="profileForm.controls.telephone.errors?.validatePhone && profileForm.controls.telephone.dirty ">Must provide a valid Telephone Number</li>
                        </ul>
                      </div>
                    </div>
                  </td>
                </tr>
              </div>




              <div class="table table-user-information">
                <tr>
                  <td>Street:</td>
                  <td>
                    <div class="form-group">
                      <div class="input-group">
                        <input type="text" class="form-control" name="street" id="street"  placeholder="Street" value="{{street}}" formControlName="street" />
                      </div>
                    </div>
                  </td>
                </tr>



                <tr>
                  <td>City:</td>
                  <td>
                    <div class="form-group">
                      <div class="input-group">
                        <input type="text" class="form-control" name="city" id="city"  placeholder="City" value="{{city}}" formControlName="city" />
                      </div>
                    </div>
                  </td>
                </tr>


                <tr>
                  <td>State:</td>
                  <td>
                    <div class="form-group">
                      <div class="input-group">
                        <input type="text" class="form-control" name="state" id="state"  placeholder="State" value="{{state}}" formControlName="state" />
                      </div>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>ZIP:</td>
                  <td>
                    <div class="form-group">
                      <div class="input-group">
                        <input type="text" class="form-control" name="zip" id="zip"  placeholder="ZIP code" value="{{zip}}" formControlName="zip" />
                      </div>
                    </div>
                  </td>
                </tr>

                </tbody>
              </div>
            </table>

            <div class="form-group">
              <input class="btn btn-success btn-lg btn-block update-button" type="submit" value="Update"/>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-2"></div>

