.panel{
  margin-top: 15%;
  padding: 20px;
  z-index: 1;
}
.group{
  float: right;
}
.background{
  border-radius: 5px;
  margin:auto;
  width: 95%;
  height: 750px;
  background-image: url("../../../../assets/img/food7.jpg");
  opacity: 1;
}
#code{
  text-align: center;
  width: 100%;
}

#code strong span {
  font-size: 20px;
  background-color: rgba(53,179,65,0.75);
  border-radius: 20px;
  padding: 5px;
}
.detail{
  margin-left: 10px;
  font-size: medium;
}
