.panel{
  margin-top: 15%;
  padding: 20px;
  z-index: 1;
}
.group{
  float: right;
}
.background{
  border-radius: 5px;
  margin:auto;
  width: 95%;
  height: 750px;
  background-image: url("../../../../assets/img/food7.jpg");
  opacity: 1;
}
#code{
  margin: auto;
  width: 100%;
}
