<div class="background">

  <div class="col-md-3"></div>
  <div class="panel panel-primary col-md-6">
    <div class="panel-heading" style="font-family: 'Merriweather', serif">
      <h3 class="panel-title">Edit Reservation</h3>
    </div>

    <div *ngIf="loading">Loading</div>
    <div *ngIf="!loading" class="panel-body" style="font-family: 'Merriweather', serif">
      <span style="font-size: 16px"><i>Thank you for reserving with The Crepe House !</i></span> <br>
      Reservation Code is: <br>
      <form [formGroup]="confirmForm" *ngIf="booking" (submit)="updateEditSubmit()"><br>
        <div id="code">
          <strong> <span class="badge badge-success">{{id}}</span> </strong>
        </div>
        <br><br>
        <div class="row show-hide-message">
          <div [ngClass]="messageClass">
            {{message}}
          </div>
        </div>

        <div class="form-group">
          <label><i>Name:</i></label>
          <input [disabled]="processing" type="text" placeholder="Name" formControlName="name" class="form-control" [(ngModel)]="booking.name" />
          <ul class="help-block">
            <!--<li *ngIf="confirmForm.controls.name.errors?.required && confirmForm.controls.name.dirty">This field is required</li>-->
          </ul>
        </div>


        <div class="form-group">
          <label><i>Party Size:</i></label>
          <input [disabled]="processing" type="number" placeholder="Party Size" formControlName="party" class="form-control" maxlength="8" minlength="1" [(ngModel)]="booking.party" />
          <ul class="help-block">
            <!--<li *ngIf="confirmForm.controls.party.errors?.required && confirmForm.controls.party.dirty">This field is required</li>-->
          </ul>
        </div>


        <div class="form-group">
          <label><i>Date & Time:</i></label>
          <input [disabled]="processing" type="datetime-local" formControlName="date" class="form-control" value="{{ date }}" [(ngModel)]=" booking.date " required/>
          <ul class="help-block">
            <!--<li *ngIf="confirmForm.controls.date.error?.required && confirmForm.controls.date.dirty">This field is required</li>-->
          </ul>
        </div>


        <div class="form-group">
          <label><i>Telephone:</i></label>
          <input [disabled]="processing" type="tel" formControlName="telephone" class="form-control" [(ngModel)]="booking.telephone" required/>
          <ul class="help-block">
            <!--<li *ngIf="confirmForm.controls.telephone.errors?.required && confirmForm.controls.telephone.dirty">This field is required</li>-->
          </ul>
        </div>
        <span style="color: #777777;font-size: 10px; display: block; float: right">* Please arrive with full party in order to be seated.</span>

        <div class="group">
          <button type="submit" name="save" [disabled]="!confirmForm.valid || processing" class="btn btn-success">Save</button>
          <button type="button" [disabled]="processing" class="btn btn-primary" (click)="goBack()">Back</button>
          <a [routerLink]="['/delete-confirm',id]"> <button name="button" type="button"  [disabled]="processing" class="btn btn-danger">Delete</button></a>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
